html, body {
  padding:0;
  margin:0;
  width: 100%;
  height: 100%;
  font-family: Arial;
  background: #543172;
  color: #fff;
}

canvas {
  width: 100%;
  height: 100%
}

#formHolder {
  width: 400px;
  margin: 0 auto;
  display: block;
  padding: 40vh 0;
  text-align: center;
}

.info {
  font-size: 12px;
  color: #B088D2;
  text-align: right;
}

form .group{
  padding: 10px 0;
}

form label input {
  cursor: pointer;
}

form label{
  padding: 0 5px;
  display: inline-block;
  cursor: pointer;
}

form input:focus {
  outline: none;
}

form input[type=submit],
form input[type=text]{
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  background: #fff;
  padding: 20px 30px;
  font-size: 16px;
  text-align: center;
}

form input[type=text]{
  width: 100%;
  box-sizing: border-box;
}

form input[type=submit]{
  padding: 15px 30px;
  cursor:pointer;
}

form input[type=submit]:hover{
  background: #543172;
  color: #fff;
}



/* stats ----- */
#stats { position: absolute; top:0; left: 0 }
#stats #fps { background: transparent !important }
#stats #fps #fpsText { color: #777 !important }
